# --- Build Tools ---
wheel==0.46.3
setuptools==82.0.1

# --- FastAPI ---
fastapi==0.135.2
uvicorn==0.42.0
python-multipart==0.0.22

# Telegram Bot
python-telegram-bot==22.7

# --- Banco de dados e ORM ---
sqlalchemy>=2.0.48   # corrigido para suportar Python 3.14
pg8000==1.31.5
alembic==1.18.4
psycopg==3.3.3   # opcional, útil em migrações

# --- Ciência de Dados / ML ---
pandas==3.0.0
numpy==2.4.3
scikit-learn==1.8.0
joblib==1.5.3

# --- Visualização ---
matplotlib>=3.10.8
seaborn>=0.13.2
plotly>=6.6.0

# Geração de PDFs
reportlab==4.4.10

# Utilitários
pytz==2026.1.post1
python-dotenv==1.2.2
